html {
  /*font-family: Helvetica, sans-serif;*/
  /*font-weight: 100;*/
  /*font-family: Arial;*/
}
/*nav bar*/

.navbar-brand {
  position: relative;
  z-index: 2;
  font-size: 25px;
  font-family: Arial;
  right: 10px;
  /*float:left;*/
  margin-left: -180px !important;
}

.navbar-nav.navbar-right .btn {
  position: relative;
  z-index: 2;
  padding: 4px 20px;
  margin: 10px auto;
}

.navbar .navbar-collapse {
  position: relative;
}
.navbar-right{
  font-size: 14px;
  font-family: Arial;
}
.navbar .navbar-collapse .navbar-right > li:last-child {
  padding-left: 22px;
}
.navbar-left{
  font-size: 14px;
  font-family: Arial;
}
.navbar .navbar-collapse .navbar-left > li:first-child {
  padding-left: 50px;
}

.navbar .nav-collapse {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding-right: 120px;
  padding-left: 80px;
  width: 100%;
  padding-bottom: 3px;
}


.navbar.navbar-default .nav-collapse {
  background-color: #f8f8f8;
}

.navbar.navbar-inverse .nav-collapse {
  background-color: #222;
}

.navbar .nav-collapse .navbar-form {
  border-width: 0;
  box-shadow: none;
}

.nav-collapse>li {
  float: right;
}

.btn.btn-circle { border-radius: 50px; }
.btn.btn-outline { background-color: transparent; }

@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 15px; padding-right: 15px; }

    .navbar .nav-collapse { margin: 7.5px auto; padding: 0; }
    .navbar .nav-collapse .navbar-form { margin: 0; }
    .nav-collapse>li { float: none; }
}

/*SEARCH*/
.neighbourhood-selector{

}
#neighbourhood{
  margin-top: 10px;
  height: 30px;
  margin-left: 5px;
}

#red-light-camera-button:hover{
  height: 50px;
  border-bottom: #a30008 3px solid;
}
.delete-markers:hover{
  height: 50px;
  border-bottom: #1ecc12 3px solid;
}
.heat-button:hover{
  height: 50px;
  border-bottom: #ff0000 3px solid;
}
#crime-button:hover{
  height: 50px;
  border-bottom: #1726ef 3px solid;
}
#router:hover{
  height: 50px;
  border-bottom: #1726ef 3px solid;
}
#heat-score-button:hover{
  height: 50px;
  border-bottom: #a5a500 3px solid;
}

/*nav bar*/

.col-centered{
    float: none;
    margin: 0 auto;
}

/*Loading Screen*/
@keyframes spinner {
  100% {
    transform: rotate(3600deg);
  }
}
#loader-wrapper{
  background-color: whitesmoke;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.loading-container {
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 50vh;
  transform: translateY(-50%);
}

.spinner {
  display: inline-block;
  width: 100px;
  height: 100px;
  /*background: url('http://i.imgur.com/oSHLAzp.png') center center;*/
  background: url('../images/spinner1.png') center center;
  background-size: contain;
  transition-origin: 50% 50%;
  animation: spinner 3s infinite alternate ease-in-out;
}
.spinner-center {
  display: inline-block;
  position: absolute;
  margin-left: -100px;
  width: 100px;
  height: 100px;
  /*background: url('http://i.imgur.com/u0BC2ZR.png') center center;*/
  background: url('../images/spinnercenter.png') center center;
  background-size: contain;
  content: '';
}

.loading-text {
  position: relative;
  z-index: 1;
  font-size: 1.5rem;
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin-left: 0.5em;
}

/* loading screen end*/
/* heatscore circle*/
.circle {
  width: 100px;
  margin: 6px 6px 20px;
  display: inline-block;
  position: relative;
  text-align: center;
  line-height: 1.2;
}

.circle canvas {
  vertical-align: top;
}

.circle strong {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
}

.circle strong i {
  font-style: normal;
  font-size: 0.6em;
  font-weight: normal;
}

.circle span {
  display: block;
  color: #aaa;
  margin-top: 12px;
}

.heat-info{
  font-size: 18px;
  font-family: Arial;
}
/* heatscore circle*/
* {
  font-family: inherit;
  font-weight: 100;
}
.hidden {
  display: none;
}

.camera-summary {
  margin-bottom: 20px;
}

#map {
 height: 700px;
 margin-bottom: 10px;
 width: 100%;
}
.api-list{
  padding-left: 100px;
}

/* MODAL */
.heatmap-modal-box{
  width: 1100px;
  position: absolute;
  /*top: 50%;*/
  right: 40%;
  /*margin-top: -50px;*/
  /*margin-left: -50px;*/
}


.controls {
 margin-top: 10px;
 border: 1px solid transparent;
 border-radius: 2px 0 0 2px;
 box-sizing: border-box;
 -moz-box-sizing: border-box;
 height: 32px;
 outline: none;
 box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#origin-input,
#destination-input {
 background-color: #fff;
 font-family: Roboto;
 font-size: 15px;
 font-weight: 300;
 padding: 0 11px 0 13px;
 text-overflow: ellipsis;
 width: 200px;
 margin-top: 10px;
 margin-left: 5px;
}

#origin-input:focus,
#destination-input:focus {
 border-color: #4d90fe;
}

#mode-selector {
 display: none;
 color: #fff;
 background-color: #4d90fe;
 margin-left: 12px;
 padding: 5px 11px 0px 11px;
}

#mode-selector label {
 font-family: Roboto;
 font-size: 13px;
 font-weight: 300;
}
.selection{
  padding-left: 15px;
}
/*Data box*/
rect.bordered {
  stroke: #E6E6E6;
  stroke-width:2px;
  }

  text.mono {
  font-size: 9pt;
  font-family: Consolas, courier;
  fill: #aaa;
  }

  text.axis-workweek {
  fill: #000;
  }

  text.axis-worktime {
  fill: #000;
}

/*Side Info Bar*/
.info-bar {
  font-size: 16px;
  font-family: Arial;
}
